body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#todo-container {
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

#task-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    font-size: 16px;
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.task-actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #3498db;
    margin-left: 10px;
}

h1 {
    text-align: center; /* Center the h1 header */
    margin-right: 10%; /* Adjust the margin-top to create space above the header */
}